<!-- {% load bootstrap4 %}
{% block content %} -->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <!-- 네비게이션 바 삽입-->
    <!-- 네비게이션 바 -->
    
    <!-- BX슬라이더 URL-->
    <link rel="stylesheet" href="static/jquery.bxslider.css">
    <script src="static/jquery-3.6.3.min.js"></script>
    <script src="static/jquery.bxslider.js" defer></script>

    <script>
        $(document).ready(function(){
          $(".slider").bxSlider();
        });
    </script>

    <!-- CSS 파일 불러오기 -->
    <link rel="stylesheet" href="static/Report2.css">
    <!-- js 파일 불러오기-->
    <script src="static/Report2.js" defer></script>
    <script src="static/bxslider3.js" defer></script>
</head>
<body>
     <!-- 드롭다운 버튼 베타 -->
     <div class="dropdown">
        <div class="select">
            <span class="selected">시대</span>
            <div class="caret"></div>
        </div>
        <ul class="menu">
            <!-- <li class ='active'>시대</li> -->
            <li>구석기</li>
            <li>신석기</li>
            <li>청동기</li>
            <li>철기</li>
        </ul>
    </div>
    <div class="dropdown">
        <div class="select">
            <span class="selected">지역</span>
            <div class="caret"></div>
        </div>
        <ul class="menu">
            <!-- <li class ='active'>지역</li> -->
            <li>서울</li>
            <li>경기도</li>
            <li>인천</li>
            <li>강원도</li>
            <li>세종</li>
            <li>대전</li>
            <li>충천북도</li>
            <li>충천남도</li>
            <li>대구</li>
            <li>경상북도</li>
            <li>경상남도</li>
            <li>울산</li>
            <li>부산</li>
            <li>광주</li>
            <li>전라북도</li>
            <li>전라남도</li>
            <li>제주도</li>
            <li>울릉도</li>
        </ul>
    </div>
<!-- 여기까지 베타 -->
    <!-- 검색엔진 -->
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="검색어를 입력하세요">
        <button type="submit">검색</button>
    </form>
        <div class="bxslider">
            <div><a href="https://www.cha.go.kr/cop/bbs/selectBoardArticle.do?nttId=85412&bbsId=BBSMSTR_1021&pageIndex=1&pageUnit=10&searchCnd=tc&searchWrd=%eb%b0%9c%ea%b5%b4&ctgryLrcls=&ctgryMdcls=&ctgrySmcls=&ntcStartDt=&ntcEndDt=&searchUseYn=Y&mn=NS_03_08_01"><img src="image/간행물1.jpg"></a></div>
            <div><a href="https://www.cha.go.kr/cop/bbs/selectBoardArticle.do?nttId=85266&bbsId=BBSMSTR_1021&pageIndex=1&pageUnit=10&searchCnd=tc&searchWrd=%eb%b0%9c%ea%b5%b4&ctgryLrcls=&ctgryMdcls=&ctgrySmcls=&ntcStartDt=&ntcEndDt=&searchUseYn=Y&mn=NS_03_08_01"><img src="image/간행물2.jpg"></a></div>
            <div><a href="https://www.cha.go.kr/cop/bbs/selectBoardArticle.do?nttId=85385&bbsId=BBSMSTR_1021&pageIndex=1&pageUnit=10&searchCnd=tc&searchWrd=%eb%b0%9c%ea%b5%b4&ctgryLrcls=&ctgryMdcls=&ctgrySmcls=&ntcStartDt=&ntcEndDt=&searchUseYn=Y&mn=NS_03_08_01"><img src="image/간행물3.jpg"></a></div>
            <div><a href="https://www.cha.go.kr/cop/bbs/selectBoardArticle.do?nttId=84845&bbsId=BBSMSTR_1021&pageIndex=1&pageUnit=10&searchCnd=tc&searchWrd=%eb%b0%9c%ea%b5%b4&ctgryLrcls=&ctgryMdcls=&ctgrySmcls=&ntcStartDt=&ntcEndDt=&searchUseYn=Y&mn=NS_03_08_01"><img src="image/간행물4.jpg"></a></div>
            <div><a href="https://www.cha.go.kr/cop/bbs/selectBoardArticle.do?nttId=82177&bbsId=BBSMSTR_1021&pageIndex=1&pageUnit=10&searchCnd=tc&searchWrd=%eb%b0%9c%ea%b5%b4&ctgryLrcls=&ctgryMdcls=&ctgrySmcls=&ntcStartDt=&ntcEndDt=&searchUseYn=Y&mn=NS_03_08_01"><img src="image/간행물5.jpg"></a></div>
            <div><a href="https://www.cha.go.kr/cop/bbs/selectBoardArticle.do?nttId=82119&bbsId=BBSMSTR_1021&pageIndex=2&pageUnit=10&searchCnd=tc&searchWrd=%eb%b0%9c%ea%b5%b4&ctgryLrcls=&ctgryMdcls=&ctgrySmcls=&ntcStartDt=&ntcEndDt=&searchUseYn=Y&mn=NS_03_08_01"><img src="image/간행물6.jpg"></a></div>
            <div><a href="https://www.cha.go.kr/cop/bbs/selectBoardArticle.do?nttId=81795&bbsId=BBSMSTR_1021&pageIndex=2&pageUnit=10&searchCnd=tc&searchWrd=%eb%b0%9c%ea%b5%b4&ctgryLrcls=&ctgryMdcls=&ctgrySmcls=&ntcStartDt=&ntcEndDt=&searchUseYn=Y&mn=NS_03_08_01"><img src="image/간행물7.jpg"></a></div>
            <div><a href="https://www.cha.go.kr/cop/bbs/selectBoardArticle.do?nttId=79377&bbsId=BBSMSTR_1021&pageIndex=3&pageUnit=10&searchCnd=tc&searchWrd=%eb%b0%9c%ea%b5%b4&ctgryLrcls=&ctgryMdcls=&ctgrySmcls=&ntcStartDt=&ntcEndDt=&searchUseYn=Y&mn=NS_03_08_01"><img src="image/간행물8.jpg"></a></div>
            <div><a href="https://www.cha.go.kr/cop/bbs/selectBoardArticle.do?nttId=79376&bbsId=BBSMSTR_1021&pageIndex=3&pageUnit=10&searchCnd=tc&searchWrd=%eb%b0%9c%ea%b5%b4&ctgryLrcls=&ctgryMdcls=&ctgrySmcls=&ntcStartDt=&ntcEndDt=&searchUseYn=Y&mn=NS_03_08_01"><img src="image/간행물9.jpg"></a></div>
            <div><a href="https://www.cha.go.kr/cop/bbs/selectBoardArticle.do?nttId=79375&bbsId=BBSMSTR_1021&pageIndex=3&pageUnit=10&searchCnd=tc&searchWrd=%eb%b0%9c%ea%b5%b4&ctgryLrcls=&ctgryMdcls=&ctgrySmcls=&ntcStartDt=&ntcEndDt=&searchUseYn=Y&mn=NS_03_08_01"><img src="image/간행물10.jpg"></a></div>
            <div><a href="https://www.cha.go.kr/cop/bbs/selectBoardArticle.do?nttId=78411&bbsId=BBSMSTR_1021&pageIndex=3&pageUnit=10&searchCnd=tc&searchWrd=%eb%b0%9c%ea%b5%b4&ctgryLrcls=&ctgryMdcls=&ctgrySmcls=&ntcStartDt=&ntcEndDt=&searchUseYn=Y&mn=NS_03_08_01"><img src="image/간행물11.jpg"></a></div>
            <div><a href="https://www.cha.go.kr/cop/bbs/selectBoardArticle.do?nttId=79361&bbsId=BBSMSTR_1021&pageIndex=3&pageUnit=10&searchCnd=tc&searchWrd=%eb%b0%9c%ea%b5%b4&ctgryLrcls=&ctgryMdcls=&ctgrySmcls=&ntcStartDt=&ntcEndDt=&searchUseYn=Y&mn=NS_03_08_01"><img src="image/간행물12.jpg"></a></div>
            <div><a href="https://www.cha.go.kr/cop/bbs/selectBoardArticle.do?nttId=78096&bbsId=BBSMSTR_1021&pageIndex=3&pageUnit=10&searchCnd=tc&searchWrd=%eb%b0%9c%ea%b5%b4&ctgryLrcls=&ctgryMdcls=&ctgrySmcls=&ntcStartDt=&ntcEndDt=&searchUseYn=Y&mn=NS_03_08_01"><img src="image/간행물13.jpg"></a></div>
            <div><a href="https://www.cha.go.kr/cop/bbs/selectBoardArticle.do?nttId=82180&bbsId=BBSMSTR_1021&pageIndex=4&pageUnit=10&searchCnd=tc&searchWrd=%eb%b0%9c%ea%b5%b4&ctgryLrcls=&ctgryMdcls=&ctgrySmcls=&ntcStartDt=&ntcEndDt=&searchUseYn=Y&mn=NS_03_08_01"><img src="image/간행물14.jpg"></a></div>
            <div><a href="https://www.cha.go.kr/cop/bbs/selectBoardArticle.do?nttId=73757&bbsId=BBSMSTR_1021&pageIndex=5&pageUnit=10&searchCnd=tc&searchWrd=%eb%b0%9c%ea%b5%b4&ctgryLrcls=&ctgryMdcls=&ctgrySmcls=&ntcStartDt=&ntcEndDt=&searchUseYn=Y&mn=NS_03_08_01"><img src="image/간행물15.jpg"></a></div>
        </div>        
</body>
</html>