{% extends 'base.html' %} {% load static %} {% block title %}상황판{% endblock%}
{% block content %}
<div class="container">
  <!-- {% commnet %} 상단 메뉴 Tabs {% endcomment %} -->
  <ul class="nav nav-tabs" id="equipment-list"></ul>

  <div class="row">
    <div class="col-3">
      <h2>최근 업데이트</h2>
      <table class="table table-striped" id="work-history">
        <thead>
          <tr>
            <th>시간</th>
            <th>현장</th>
            <th>유구</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2020-08-01 12:00:00</td>
            <td>1</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <h2>영상</h2>
      <div>
        <img
          src="{% static 'not_connected.png' %}"
          alt="detection"
          width="640px"
          height="480px"
          id="detection"
        />
      </div>
    </div>
    <div class="col-3">
      <h2>Detection Log</h2>
      <table class="table table-striped" id="detection-log">
        <thead>
          <tr>
            <th>Time</th>
            <th>Model</th>
            <th>Type</th>
            <th>Confidence</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

<script>
  {% block end_script %}
    // {% comment %} 작업 일지 업데이트 함수 {% endcomment %}
    function updateWorkHistory() {
      fetch("{% url 'api:work:recent' %}")
        .then(response => response.json())
        .then(data => {
          const workHistory = document.querySelector('#work-history tbody')

          workHistory.innerHTML = ''

          data.result.forEach(work => {
            const row = document.createElement('tr')
            row.innerHTML = `
              <td>${work.updated_at_timeonly}</td>
              <td>${work.site_name}</td>
              <td>${work.zone}</td>
            `
            workHistory.appendChild(row)
          })
        })
    }

    // {% comment %} 웹소켓 스트리밍 {% endcomment %}
    let streamer = null;

    // {% comment %} 로그 테이블 {% endcomment %}
    const logTable = document.querySelector('#detection-log tbody');

    // {% comment %} 이미지 출력 함수 {% endcomment %}
    const img_write = (img) => {
      document.querySelector('#detection').src = img;
    }

    // {% comment %} 로그 기록 함수 {% endcomment %}
    const log_write = async (detected, msg) => {
      // {% comment %} 24시간 시간이 필요하여 영국 표시방식을 가져옴 {% endcomment %}
      const time = new Date().toLocaleTimeString("en-GB");

      detected.forEach((detection) => {
        // {% comment %} NO, handmotion만 로그에 기록 {% endcomment %}
        if (
          !(detection.cls_name.includes("NO") || detection.model == "handmotion")
        ) {
          return;
        }

        // {% comment %} 80% 이상의 확률만 로그에 기록 {% endcomment %}
        if (detection.confidence < 0.8) {
          return;
        }

        // {% comment %} 소수점 2자리까지 표시 {% endcomment %}
        const confidence = detection.confidence.toFixed(2);

        // {% comment %} 로그 테이블에 로그 추가 {% endcomment %}
        const row = document.createElement("tr");
        row.innerHTML = `
          <td>${time}</td>
          <td>${detection.model}</td>
          <td>${detection.cls_name}</td>
          <td>${confidence}</td>
        `;
        logTable.prepend(row);
      });

      // {% comment %} 로그 최대 10개까지만 보여줌 {% endcomment %}
      while (logTable.childElementCount > 10) {
        logTable.removeChild(logTable.lastChild);
      }
    }

    // {% comment %} 장비 목록 로드 {% endcomment %}
    async function loadVideoEquipment() {
      return await fetch("{% url 'api:dashboard:video_equipment' %}")
        .then(response => response.json())
        .then(data => {
          const videoEquipment = document.querySelector('#equipment-list')

          videoEquipment.innerHTML = ''

          data.result.forEach(equipment => {
            const row = document.createElement('li')
            row.innerHTML = `
              <a class="nav-link" href="#" onclick="changeStream(this, "${equipment.device_address}")" %}">${equipment.name}</a>
            `
            videoEquipment.appendChild(row)
          })
        })
    }

    function changeStream(element, device_address) {
      // {% comment %} 장비 선택 시 활성화 {% endcomment %}
      const videoEquipment = document.querySelector('#equipment-list')
      videoEquipment.querySelectorAll('a').forEach((a) => {
        a.classList.remove('active')
      });
      element.classList.add('active')


      // {% comment %} 웹소켓 스트리밍 {% endcomment %}
      // {% comment %} static/wss.js 참조 {% endcomment %}
      if (streamer != null) {
        streamer.disconnect();
      }

      streamer = new WebSocketStreamer(device_address, img_write, log_write);
      streamer.connect();
    }


    // {% comment %} 페이지 로드 시 실행함 {% endcomment %
    (async () => {
      // {% comment %} 최근 업데이트 초기화 {% endcomment %}
      updateWorkHistory();
      // {% comment %} 5초마다 업데이트 {% endcomment
      setInterval(updateWorkHistory, 5000)

      // {% comment %} 장비 목록 로드 {% endcomment %}
      await loadVideoEquipment()

      // {% comment %} 첫번째 장비로 스트리밍 시작 {% endcomment %}
      const videoEquipment = document.querySelector('#equipment-list')
      videoEquipment.querySelector('a').click()
    })();
  {% endblock %}
</script>
