{% extends 'base.html' %} {% load static %} {% block title %}상황판{% endblock%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-3">
      <h2>최근 작업 일지 업데이트</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>업데이트</th>
            <th>현장</th>
            <th>유구</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="col-6">
      <h2>영상</h2>
        <div>
          <img
            src="{% static 'not_connected.png' %}"
            alt="detection"
            width="100%"
            height="100%"
          />
        </div>
      </h2>
    </div>
    <div class="col-3">
      <h2>Detection Log</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Time</th>
            <th>Model</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

<script>
  {% block end_script %}

  {% endblock %}
</script>
