<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<body>
    <div>
        <h1>발굴조사 현장 공개</h1>
    <div class="board_search def">
        <div>
            <span class="bs_cnd">
                <span class="bs_count"><b>전체</b> 708 건</span>
            </span>
    
            <span class="bs_input">
                <input type="date" name="scOpen_start_day" id="scOpen_start_day" style="cursor:pointer"
                    class="date_box input_date hasDatepicker" maxlength="10" value="" title="검색할 시작일을 선택하세요"><img
                    class="ui-datepicker-trigger" src="" alt="..." title="..." style="display: none;">
                <span> ~ </span>
                <input type="date" name="scOpen_end_day" id="scOpen_end_day" style="cursor:pointer"
                    class="date_box input_date hasDatepicker" maxlength="10" value="" title="검색할 종료일을 선택하세요"><img
                    class="ui-datepicker-trigger" src="/images/hmop/common/icon_dateficker.gif" alt="..." title="..."
                    style="display: none;">
                <input type="text" name="scKeyword" maxlength="100" id="scKeyword" value="" class="input01" title="검색어 입력">
                <input type="submit" value="검색" class="inputBtn">
            </span>
        </div>
    </div>
    <hr>
    
    <table class="tbl type_1 b_list list_t01">
    
        <colgroup>
            <col style="width:50px">
            <col style="width:auto">
            <col style="width:180px">
            <col style="width:130px">
            <col style="width:155px">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">유적명</th>
                <th scope="col">조사기관</th>
                <th scope="col">조사지역</th>
                <th scope="col">공개일시</th>
            </tr>
        </thead>
        <tbody>
    
            <tr>
                <td align="center">1</td>
                <td>
                    <a href="#" class="b_tit"
                        title="경주 인왕동(809-2번지) 단독주택 신축부지 내 유적(국비)">
                        경주 인왕동(809-2번지) 단독주택 신축부지 내 유적(국비)
                    </a>
                </td>
                <td align="center">한국문화재재단</td>
                <td align="center">경북&nbsp;경주시</td>
                <td align="center">2023-03-29 11:00 ~<br>2023-03-29 11:30</td>
            </tr>
    
            <tr>
                <td align="center">2</td>
                <td>
                    <a href="#" class="b_tit"
                        title="서울 암사동(505번지) 근린생활시설 신축부지 내 유적(국비)">
                        서울 암사동(505번지) 근린생활시설 신축부지 내 유적(국비)
                    </a>
                </td>
                <td align="center">한국문화재재단</td>
                <td align="center">서울&nbsp;강동구</td>
                <td align="center">2023-03-23 11:00 ~<br>2023-03-23 11:30</td>
            </tr>
    
            <tr>
                <td align="center">3</td>
                <td>
                    <a href="#" class="b_tit" title="양주 오산리 공동주택 신축부지 내 유적">
                        양주 오산리 공동주택 신축부지 내 유적
                    </a>
                </td>
                <td align="center">(재)한양문화재연구원</td>
                <td align="center">경기&nbsp;양주시</td>
                <td align="center">2023-03-23 11:00 ~<br>2023-03-23 12:00</td>
            </tr>
    
            <tr>
                <td align="center">4</td>
                <td>
                    <a href="#" class="b_tit" title="여수 고소동 공영주차장 신축공사부지 내 유적">
                        여수 고소동 공영주차장 신축공사부지 내 유적
                    </a>
                </td>
                <td align="center">(재)나라문화연구원</td>
                <td align="center">전남&nbsp;여수시</td>
                <td align="center">2023-03-23 10:00 ~<br>2023-03-23 12:00</td>
            </tr>
    
            <tr>
                <td align="center">5</td>
                <td>
                    <a href="#" class="b_tit"
                        title="고속국도 제29호선 세종~포천(세종~안성)간 건설공사(2권역)부지 내 유적">
                        고속국도 제29호선 세종~포천(세종~안성)간 건설공사(2권역)부지 내 유적
                    </a>
                </td>
                <td align="center">(재)충청문화재연구원</td>
                <td align="center">충남&nbsp;천안시</td>
                <td align="center">2023-03-24 11:00 ~<br>2023-03-24 12:00</td>
            </tr>
    
            <tr>
                <td align="center">6</td>
                <td>
                    <a href="/hmop/Hp_GrndfieldopenR___.do?seq=959" class="b_tit" title="양산 다방동 패총(2차)">
                        양산 다방동 패총(2차)
                    </a>
                </td>
                <td align="center">(재)경남연구원 역사문화센터</td>
                <td align="center">경남&nbsp;양산시</td>
                <td align="center">2023-03-22 10:30 ~<br>2023-03-22 15:30</td>
            </tr>
    
            <tr>
                <td align="center">7</td>
                <td>
                    <a href="/hmop/Hp_GrndfieldopenR___.do?seq=958" class="b_tit" title="세종 스마트그린 일반산업단지 조성사업부지 내 유적">
                        세종 스마트그린 일반산업단지 조성사업부지 내 유적
                    </a>
                </td>
                <td align="center">(재)한얼문화유산연구원</td>
                <td align="center">세종&nbsp;</td>
                <td align="center">2023-03-22 14:00 ~<br>2023-03-22 16:00</td>
            </tr>
    
            <tr>
                <td align="center">8</td>
                <td>
                    <a href="/hmop/Hp_GrndfieldopenR___.do?seq=957" class="b_tit"
                        title="세종 봉안리(447-10번지) 종교시설(교회) 신축부지 내 유적">
                        세종 봉안리(447-10번지) 종교시설(교회) 신축부지 내 유적
                    </a>
                </td>
                <td align="center">(재)고운문화재연구원</td>
                <td align="center">세종&nbsp;</td>
                <td align="center">2023-03-16 15:00 ~<br>2023-03-16 15:30</td>
            </tr>
    
            <tr>
                <td align="center">9</td>
                <td>
                    <a href="/hmop/Hp_GrndfieldopenR___.do?seq=956" class="b_tit"
                        title="서울 암사동(505번지) 근린생활시설 신축부지 내 유적(국비)">
                        서울 암사동(505번지) 근린생활시설 신축부지 내 유적(국비)
                    </a>
                </td>
                <td align="center">한국문화재재단</td>
                <td align="center">서울&nbsp;강동구</td>
                <td align="center">2023-03-14 14:00 ~<br>2023-03-15 13:30</td>
            </tr>
    
            <tr>
                <td align="center">10</td>
                <td>
                    <a href="/hmop/Hp_GrndfieldopenR___.do?seq=955" class="b_tit" title="춘천 율문리 OO부대 방음벽 설치부지 내 유적">
                        춘천 율문리 OO부대 방음벽 설치부지 내 유적
                    </a>
                </td>
                <td align="center">(재)호남문화재연구원</td>
                <td align="center">강원&nbsp;춘천시</td>
                <td align="center">2023-03-16 15:00 ~<br>2023-03-16 16:00</td>
            </tr>
    
        </tbody>
    </table>
    
    </div>
</body>
</html>

