{% extends 'base.html' %}
{% load static %}

{% block title %}발굴조사 현장 공개{% endblock %}

<style>
    {% block head_style %}
    .ex_info{
        margin:0 auto;
        text-align: center;
    }
    {% endblock %}
    </style>

{% block content %}
<body>
    <div class="ex_info">
    <h3 class='pagetitle' style="text-align: center;">발굴조사 현장 공개</h3>
        <iframe title="발굴조사 현장공개 아이프레임" id="hp_grndIframe" style="width:80%;border:0;min-height:800px"
            src="https://www.e-minwon.go.kr:8443/hmop/Hp_GrndfieldopenList.do">
        </iframe>
    </div>
</body>
{% endblock %}