{% extends 'base.html' %}
{% load static %}

{% block title %}메인 페이지{% endblock %}

<script>
{% block head_script %}
{% endblock %}
</script>

<style>
{% block head_style %}
{% endblock %}
</style>


{% block content %}
<div class="slider">
    <div>
        <img src="{% static 'digimg1.jpg' %}">
    </div>
    <div>
        <img src="{% static 'digimg2.jpg' %}">
    </div>
    <div>
        <img src="{% static 'digimg3.jpg' %}">
    </div>
</div>
{% endblock %}

<script>
{% block end_script %}
$(document).ready(function () {
    $(".slider").bxSlider({
        auto: true,
        speed: 1000,
        pause: 3000,
        mode: 'horizontal',
        autoControls: true,
        pager: true,
        slideWidth: 800,
        slideMargin: 0,

    });
});
{% endblock %}
</script>

<style>
{% block end_style %}
{% endblock %}
</style>
