{% load static %}

{% block content %}

    <head>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>

    <a href="{% url 'dig_site:index' %}"><img src="{% static 'dig.png' %}" class="signup_img" /></a>
    
        <div class="wrapper">
            <form method="POST">
                <br>
                <span class="empname_text">직원번호</span><br>
                <input name="empname" type="text" class="box">
                <br><br>
                <span class="username_text">아이디</span><br>
                <input name="username" type="text" class="box">
                <br><br>
                <span class="password1_text">비밀번호</span><br>
                <input name="password1" type="password" class="box">
                <br><br>
                <span class="password2_text">비밀번호 확인</span><br>
                <input name="password2" type="password" class="box">
                <br><br><br>
                <input type="submit" class="sibu" value="가입하기">
        </div>
    </body>
{% endblock %}