{% extends 'base.html' %}
{% load static %}

{% block title %}기상 정보{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <meta name="description" content="description" />
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css" />

</head>

<body>

    <div class="flex-container">

        <div class="weathertoday">
            <h4>오늘의 날씨</h4>
            <!-- Weather widget by https://meteodays.com -->
            <a id="ms-informer-link-61cb2be92af5bcfaff51f7abca20aaa5" class="ms-informer-link"
                href="https://meteodays.com/ko/weather/overview/seoul">서울날씨</a>
            <script class="ms-informer-script"
                src="https://meteodays.com/ko/informer/script/61cb2be92af5bcfaff51f7abca20aaa5"></script>
            <!-- End -->

        </div>

        <div class="weatherforecast">
            <h4>일기 예보&nbsp&nbsp&nbsp&nbsp&nbsp</h4>
            <!-- Weather widget by https://meteodays.com -->
            <a id="ms-informer-link-cd0dd21c507449ab2c5ff7f36f6a7b3b" class="ms-informer-link"
                href="https://meteodays.com/ko/weather/overview/seoul">서울날씨</a>
            <script class="ms-informer-script"
                src="https://meteodays.com/ko/informer/script/cd0dd21c507449ab2c5ff7f36f6a7b3b"></script>
            <!-- End -->
        </div>
    </div>

    </div>
</body>

</html>
{% endblock %}