{% extends 'base.html' %} 
{% load static %} 
{% block title %}메인 페이지{% endblock %}

<script>
  {% block head_script %}
  {% endblock %}
</script>

<style>
  {% block head_style %}
    #work-function {
      content-align: right;
    }
  {% endblock %}
</style>

{% block content %}
<h3 class='pagetitle' style="text-align: center;">작업 일지</h3>
<div id="work-info">
  <form onChange="changeData(this)">
    <table class='for_form'>
      <tr>
        <td style='padding:20px'>
          <input type="date" />
        </td>
        <td>
          <select name="dig_site">
      <option value="-1">현장 선택 안함</option>
      {% for dig_site in sites %}
        <option value="{{ dig_site.id }}">{{ dig_site.name }}</option>
      {% endfor %}
    </select>
  </td>
  </table>
  </form>
</div>

<br />
<table id="work" style='margin-top:20px'>
  <thead>
    <tr class='work_tr'>
      <th class='work_th'>유구</th>
      <th class='work_th'>작업 근로자</th>
      <th class='work_th'>출토 유물</th>
      <th class='work_th'>특이사항</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot><tr>
    <td class='inputbt' colspan="4"><input class="hang" type="button" value="행추가" onclick="addNewRow()" /></td>
  </tr></tfoot>
</table>


{% csrf_token %}
{% endblock %}

<script>
  {% block end_script %}
  const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
  let workerList = [];

  // {% comment %} 유저 목록 생성 {% endcomment %}
  function workerOptions(selectedList) {
      return workerList
          // {% comment %} option으로 변환 {% endcomment %}
          .map(worker => `<option value="${worker.id}">${worker.name}</option>`)
          // {% comment %} 선택된 유저를 selected로 설정 {% endcomment %}
          .map(option => {
              // {% comment %} 만약 선택된 유저가 있다면 {% endcomment %}
              if (_.includes(selectedList, parseInt(option.split('"')[1], 10))) {
                  return option.replace('">', '" selected>');
              }

              return option;
          })
          .join('')
  }

  // {% comment %} 새 작업자 선택 추가 {% endcomment %}
  function buildWorkerSelect(index, selectedWorkers = []) {
    const site = document.querySelector('select[name="dig_site"]').value;
    return `
      <select title="worker-${index}" name="worker-${index}" ${ site === '-1' ? "disabled" : "" }>
        ${workerOptions(selectedWorkers)}
      </select>
    `;
  }

  // {% comment %} 테이블 행 생성 {% endcomment %}
  function buildItemTag(id, name, images, note, selectedWorker) {
    return `
      <tr data-id="${id}">
          <td>
              <form id="zone-${id}" onchange="updateChange(${id})">
                  <input type="text" name="zone" value="${name}">
              </form>
          </td>
          <td>
              <form id="worker-list-${id}" name="worker-list" onchange="updateWorker(this);updateChange(${id})">
                  ${selectedWorker
                    // {% comment %} 선택된 유저가 없는 경우 {% endcomment %}
                    .filter(worker => worker !== -1)
                    // {% comment %} 선택된 유저를 select로 변환 {% endcomment %}
                    .map((worker, index) => buildWorkerSelect(index, [worker])).join('')}
                  ${buildWorkerSelect(selectedWorker.length)}
              </form>
          </td>
          <td>
              <form id="images-${id}" onchange="prepareUpload(${id});updateChange(${id})">
                  <div class="work_images">
                      ${images.map(image => `<img src="${image}" alt="image" width="100" height="100">`).join('')}
                  </div>
                  <div class="button">
                      <label for="chooseFile-${id}">
                          이미지 추가+
                      </label>
                  </div>
                  <input type="file" class="chooseFile" id="chooseFile-${id}" name="chooseFile-${id}" accept="image/*">
              </form>
          </td>
          <td>
              <form id="note-${id}" onchange="updateChange(${id})">
                  <input type="text" name="note" value="${note}">
          </td>
      </tr>
      `;
  }

  // {% comment %} 작업자 선택시 새로운 작업자 선택 추가 {% endcomment %}
  function updateWorker(elem) {
    const id = elem.parentElement.parentElement.dataset.id;
    const select = elem.querySelector('select:last-child');
    const selected = select.options[select.selectedIndex].value;

    // {% comment %} 선택된 유저가 없는 경우 {% endcomment %}
    if (selected === '-1') {
      return;
    }

    // {% comment %} 선택된 유저가 있는 경우 {% endcomment %}
    const newSelect = buildWorkerSelect(elem.querySelectorAll('select').length);
    elem.insertAdjacentHTML('beforeend', newSelect);
  }

  function prepareUpload(id) {
    const elem = document.querySelector(`tr[data-id="${id}"]`);
    const button = elem.querySelector('input[type="file"]');
    const label = elem.querySelector('div.button > label');

    button.disabled = true;
    label.innerText = '업로드 준비중...';
  }

  function disableUploadButton(elem) {
    const button = elem.querySelector('input[type="file"]');
    const label = elem.querySelector('div.button > label');

    button.disabled = true;
    label.innerText = '업로드 중...';
  }

  function enableUploadButton(elem) {
    const button = elem.querySelector('input[type="file"]');
    const label = elem.querySelector('div.button > label');

    button.disabled = false;
    label.innerText = '이미지 추가+';
  }

  // {% comment %} 데이터 변경 시 서버에 전송 {% endcomment %}
  function updateChange(id) {
    console.log(id)
      const elem = document.querySelector(`tr[data-id="${id}"]`);
      console.log(elem)

      // {% comment %} 데이터 elements {% endcomment %}
      const _zone = elem.querySelector('input[name="zone"]').value;
      const _note = elem.querySelector('input[name="note"]').value;
      const _image = elem.querySelector('input[type="file"]');
      const _workers = [...elem.querySelectorAll('select[name^="worker-"]')]
                          .map(worker => worker.value);
  
      // {% comment %} 데이터가 1초동안 변경이 없는 경우 업로드 {% endcomment %}
      setTimeout(
          async () => {
              const zone = elem.querySelector('input[name="zone"]').value;
              const note = elem.querySelector('input[name="note"]').value;
              const image = elem.querySelector('input[type="file"]');
              const workers = [...elem.querySelectorAll('select[name^="worker-"]')]
                                  .map(worker => worker.value);

              // {% comment %} 데이터가 변경되지 않은 경우 {% endcomment %}
              if (zone === _zone && _.isEqual(workers, _workers) && note === _note && image.value === _image.value) {
                  let uploadImage = null;

                  // {% comment %} 이미지가 있는 경우 {% endcomment %}
                  if ((image?.files?.length ?? 0 > 0) && (image.value !== '')) {
                    // {% comment %} 이미지 업로드 버튼 비활성화 {% endcomment %}
                    disableUploadButton(elem);
                    // {% comment %} 이미지 읽음 {% endcomment %}
                    uploadImage = await readFileInput(image);

                    // {% comment %} 초기화 {% endcomment %}
                    image.value = '';
                  }

                  // {% comment %} 선택된 유저가 없는 경우 필터링 {% endcomment %}
                  const selectedWorkers = workers.map(worker => parseInt(worker, 10)).filter(worker => worker !== -1);

                  // {% comment %} 데이터 전송 전 field 설정 {% endcomment %}
                  const data = {
                      zone,
                      workers: selectedWorkers,
                      note,
                      image: uploadImage,
                  }

                  // {% comment %} 데이터 전송 {% endcomment %}
                  fetch(`{% url 'api:work:update' 0 %}`.replace('0', id), {
                      method: 'POST',
                      headers: {
                          'Content-Type': 'application/json',
                          'X-CSRFToken': csrf,
                      },
                      mode: 'same-origin',
                      body: JSON.stringify(data),
                  }).catch(err => console.log(err)).then(res => res.json()).then(data => data.result).then(item => {
                      // {% comment %} 데이터 전송 후 아이템 업데이트 {% endcomment %}
                      elem.outerHTML = buildItemTag(item.id, item.zone, item.images, item.note, item.workers);
                      // {% comment %} 이미지 업로드 버튼 활성화 {% endcomment %}
                      enableUploadButton(elem);
                  })

              }
          },
          1000
      )
  }

  // {% comment %} 페이지 데이터 로드 {% endcomment %}
  function loadData(elem) {
      const date = elem.querySelector('input[type="date"]').value;
      const site = elem.querySelector('select[name="dig_site"]').value;

      const param = {
          date,
          site: site === '-1' ? null : site,
      }

      const url = buildQueryParams("{% url 'api:work:load' %}", param);

      fetch(url, {
          headers:{
            'Content-Type': 'application/json',
            'X-CSRFToken': csrf,
          },
          mode: 'same-origin',
      }).catch(err => console.log(err)).then(res => res.json()).then(data => {
          if (data?.status !== 'ok') {
            console.log(data);
            return;
          }

          const table = document.querySelector('#work tbody');
          table.innerHTML = data.result.map(item => buildItemTag(item.id, item.zone, item.images, item.note, item.workers)).join('');
      })
  }

  // {% comment %} worker 로드 {% endcomment %}
  async function loadWorkers() {
    const site = document.querySelector('#work-info select[name="dig_site"]').value;
    const url = buildQueryParams("{% url 'api:work:workers' %}", { site: site === '-1' ? null : site });

    const workers = await fetch(url, {
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrf,
      },
      mode: 'same-origin',
    }).catch(err => console.log(err)).then(res => res.json()).then(data => data?.result ?? [] );
    
    workerList = [{ id: -1, name: '선택안함' }, ...workers.map(worker => ({ id: worker.id, name: worker.name }))];

    return workers
  }


  // {% comment %} 검색 설정 값 변경시 {% endcomment %}
  async function changeData(elem) {
    await loadWorkers();
    loadData(elem);
  }


  // {% comment %} 새로운 행 추가 {% endcomment %}
  function addNewRow() {
      const table = document.querySelector('#work tbody');
      const date = document.querySelector('#work-info input[type="date"]').value;
      const site = document.querySelector('#work-info select[name="dig_site"]').value;

      if (site === '-1') {
          alert('현장을 선택해주세요.');
          return;
      }
      
      const url = "{% url 'api:work:new' '__date__' 1234567890 %}".replace('__date__', date).replace('1234567890', site)

      fetch(url, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrf,
          },
          mode: 'same-origin',
          body: JSON.stringify({
              date
          }),
      }).catch(err => console.log(err)).then(res => res.json()).then(data => data.result).then(data => {
          table.innerHTML += buildItemTag(data.id, data.zone, data.images, data.note, data.workers);
      })
  }

  // {% comment %} 페이지 로드시 실행 {% endcomment %}
  (async () => {
    document.querySelector('#work-info input[type="date"]').valueAsDate = new Date();

    await loadWorkers();
    loadData(document.querySelector('#work-info'));
  })();
  {% endblock %}
</script>

<style>
  {% block end_style %}
  {% endblock %}
</style>
