<!-- {% load bootstrap4 %}
{% block content %} -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css" />
    <img src="images/loginpage.png" class="signup_img">
</head>
<body>
    <div class="wrapper">
        <form method="post" action="서버의url" id="login-form"
        style="padding-top: 75px;">
            <br>
            <span class="username_text">아이디</span><br>
            <input name="username" type="text" class="box">
            <br><br>
            <span class="password_text">비밀번호</span><br>
                <input name="password1" type="password" class="box">
                <br><br><br>
                <input type="submit" class="sibu" value="로그인">
                <br><br>
            <div class="hr">
            <a href="">아이디 찾기</a>
            &nbsp &nbsp
            <a href="">비밀번호 찾기</a>
            &nbsp &nbsp
            <a href="">회원가입</a>
        </div>
        </form>
    </div>
</body>
{% endblock %}