{% load static %}
<footer>
    <div class="inner">
        <div class="info">
            <span>서울특별시 서초구 동작대로 132 안석빌딩 9층</span>
            <span>안전 발굴 지원 DIG</span>
            <span>admin@dig.com</span>
        </div>

        <p class="copyright">
            &copy; <span class="this-year"></span> Design by SWEET ROCKET
        </p>

        <form class=familysites>
            <select onchange="javascript:window.open(value);" class="family-site">
                <option selected="">관련사이트</option>
                <option value="https://www.cha.go.kr/main.html">문화재청</option>
                <option value="http://kras.or.kr/">한국고고학회</option>
                <option value="https://www.heritage.go.kr/main/?v=1679899013235">국가문화유산포털</option>
            </select>
        </form>
        <img src="{% static 'DIG_tra.png' %}" width="100" height="100" class="logo" />

    </div>
</footer>