{% load static %}
<div class="header">

    <div class="weatherwidget">
        <!-- Weather widget by https://meteodays.com -->
        <a id="ms-informer-link-4969598617673cda4578f2dff5f64718" class="ms-informer-link"
            href="https://meteodays.com/ko/weather/overview/seoul">서울날씨</a>
        <script class="ms-informer-script"
            src="https://meteodays.com/ko/informer/script/4969598617673cda4578f2dff5f64718"></script>
        <!-- End -->
    </div>

    <div class="logo">
        <a href="#"><img src="{% static 'dig_width.png' %}" class="header_img"></a>
    </div>
</div>
<br>

<nav>
    <ul class="menu">
        <li>
            <a href="#">기상 정보</a>
        </li>
        <li>
            <a href="#">발굴 보고서</a>
        </li>
        <li>
            <a href="#">발굴조사 현장 공개 정보</a>
        </li>
        <li>
            <a href="#">현장 감독</a>
            <ul class="submenu">
                <li><a href="#">현장 상황판</a></li>
                <li><a href="#">작업 일지</a></li>
            </ul>
        </li>
    </ul>
</nav>
<input type="submit" class="signup_but" value="회원가입">
<input type="submit" class="login_but" value="로그인">
<br><br><br><br><br><br>