{% load static %}
<div class="header">
    <img src="{% static 'dig_width.png' %}" class="header_img">
</div>
<br>

<nav>
    <ul class="menu">
        <li>
            <a href="#">기상 정보</a>
        </li>
        <li>
            <a href="#">발굴 보고서</a>
        </li>
        <li>
            <a href="#">발굴조사 현장 공개 정보</a>
        </li>
        <li>
            <a href="#">현장 감독</a>
            <ul class="submenu">
                <li><a href="#">현장 상황판</a></li>
                <li><a href="#">작업 일지</a></li>
            </ul>
        </li>
    </ul>
</nav>
<input type="submit" class="signup_but" value="회원가입">
<input type="submit" class="login_but" value="로그인">
<br><br><br><br><br><br>